@use "sass:color";

$primary-color: #ff4618;
$secondary-color: #01112d;
$buttonshadow: 0 1px 4px rgba(0, 0, 0, 0.6);
$danger: #c92332;
$cardboxshadow:  rgba(160, 160, 160, 0.06);
$btnpadding: 0.5rem 1rem 0.5rem 1rem;