@import "./variables";

html,
body {
  background-color: $secondary-color;
}

.display-end {
  display: flex;
  justify-content: flex-end;
}

.display-center-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.primary-button {
  background-color: $primary-color;
  color: white;
  border-radius: 1.5rem;
  padding: $btnpadding;
}

.block-button {
  background-color: $primary-color;
  color: white;
}

.delete-button {
  background-color: $danger;
  color: white;
  border-radius: 1.5rem;
  padding: $btnpadding;
}

.user-avatar {
  background-color: $primary-color;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  color: white;
}

.cursor {
  cursor: pointer;
}

.display-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display-vertical-center {
  display: flex;
  align-items: center;
}

.hovered-row {
  background-color: $cardboxshadow;
}

.contact-table {
  border-spacing: 0rem;
  border-collapse: separate;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invisible {
  visibility: hidden;
}
