.display-end {
  display: flex;
  justify-content: flex-end;
}

.user-avatar {
  background-color: blue;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  color: white;
}

.cursor {
  cursor: pointer;
}
